:root{
    /**/
    /*other default setting ...*/
    /**/
      --secondary-glow: conic-gradient(
        from 10deg at 50% 50%,
        #ff0044 0deg,
        
        transparent 360deg
      );
    
      --third-glow: conic-gradient(
        from 90deg at 50% 50%,
        #ff8b7e 0deg,
        
        transparent 360deg
      );
    }

        
    body::before,
    body::after {
    content: '';
    position: fixed;
    z-index: -1;
    opacity:0.8;
    }

    body::before {
        background: var(--third-glow);
        border-radius: 50%;
        width: 50vw;
        height: 50vw;
        margin-left: -200px;
        filter:blur(90px);  
        top: calc(50vh - 50vw/2);
        left: calc(50vw );
        animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
       
      }


      body::after {
        background: var(--secondary-glow);
        border-radius: 50%;
        width: 500px;
        height: 700px;
        filter:blur(90px);
        top: calc(50vh - 50vw/2);
        left: calc(50vw - 50vw/2);
        animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
        
      }



.navbar-nav .nav-link {
    color: black;
    font-family: "roboto", sans-serif;
}


.about-img img {
    max-width: 70%;
    max-height: 70%;
    position: relative;
    z-index: 1;
}

.header-name {
    font-size: 198px;
    font-family: "roboto", sans-serif;
}




.background-shape {
    width: 500px;
    height: 500px;
    background-color: rgb(156, 201, 201);
    border-radius: 62% 38% 36% 64% / 57% 85% 15% 43%;
    position: absolute;
    z-index: 1;
    margin-left: 50px;
}

.skills {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
   
}




.project-info h3, p {
    padding: 4%;
}

#project_image {
    border-radius: 16px;
}

.project-info:hover {
    width: 40%;
    cursor: pointer;
}


.icon {
    color: black;
    font-size: 100px;
}


.icon:hover {
    font-size: 120px;
    color: #ff8b7e;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .header-name {
        font-size: 110px;
    }
  }


  @keyframes animateBefore {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(200px) scale(0.8);
  
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes animateAfter{
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-250px) scale(1.2);
  
    }
    100% {
      transform: translateX(0);
    }
  }